*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 section{
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px 600px;
    /* padding-left: 10%;
    padding-right: 10%; */
    
} 
aside{
background-color: antiquewhite;
text-align: center;
}
header{
   background-color: antiquewhite;
   text-align: center;
}
nav{
    background-color: rgb(50, 116, 50);
    text-align: center;
}
main{
   background-color: rgb(50, 116, 50);
   text-align: center;
}
figure{
    background-color:rgb(50, 116, 50);
    text-align: center;
}
figcaption{
   background-color: rgb(118, 148, 87);
   text-align: center;
}

article>img{
   width: 450px;
   height: 200px;
}
button{
    border-radius: 10px;
} 
